{% extends 'base.html' %}
{% block content %}
    <h1>Crear Mano de Obra</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.nombre_mano_de_obra.label }} {{ form.nombre_mano_de_obra }}<br>
        {{ form.descripcion_mano_de_obra.label }} {{ form.descripcion_mano_de_obra }}<br>
        {{ form.costo_hora.label }} {{ form.costo_hora }}<br>
        {{ form.submit }}
    </form>
        <a href="{{ url_for('listar_mano_de_obra') }}">Volver a lista de mano de obra</a>
{% endblock %}