{% extends 'index.html' %}

{% block content %}

    <h1 class="text-2xl font-bold mb-4">Lista de Partidas</h1>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Nombre</th>
                    <th class="py-3 px-6 text-left">Descripción</th>
                    <th class="py-3 px-12 text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for partida in partidas_lista %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6">{{ partida.nombre_partida }}</td>
                        <td class="py-3 px-6">{{ partida.descripcion_partida or "Sin descripción" }}</td>
                        <td class="py-3 px-6 text-center">
                            <a href="{{ url_for('editar_partida', id_partida=partida.id_partida) }}" class="text-blue-500 hover:text-blue-700">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8M13 12h8m-8 5h8M3 7h.01M3 12h.01M3 17h.01" />
                                </svg>
                            </a>
                            <a href="{{ url_for('eliminar_partida', id_partida=partida.id_partida) }}" class="text-red-500 hover:text-red-700 ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a href="{{ url_for('crear_partida') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Agregar partida</a>
    </div>

{% endblock %}