{% extends 'base.html' %}
{% block content %}
    <h1>Partida: {{ partida.nombre_partida }}</h1>
    <p>{{ partida.descripcion_partida }}</p>

    <h2>Mano de Obra:</h2>
    {% if partida.manos_obra %}
        <ul>
            {% for mano_obra_partida in partida.manos_obra %}
                <li>{{ mano_obra_partida.mano_obra.descripcion_mano_obra }} - Costo por hora: {{ mano_obra_partida.mano_obra.costo_hora }} - Cantidad de horas: {{ mano_obra_partida.cantidad_horas }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay mano de obra asignada a esta partida.</p>
    {% endif %}
    <a href="{{ url_for('crear_mano_obra', id_partida=partida.id_partida) }}">Agregar Mano de Obra</a>
        <a href="{{ url_for('ver_obra', id_obra=partida.obra.id_obra) }}">Volver a la obra</a>
{% endblock %}